
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-image: url(img/grey-gradient.jpg);
    background-size: cover;
    position: relative;
}
img {
    display: block;
    margin: 0 auto;
}
h1, h2, h3 {
    color: #333;
    text-align: center;
    font-weight: bold;
}
#h1_desc {
    margin-bottom: 70px;
    font-style: italic;
}
ul {
    list-style-type: none;
    padding: 0;
    color: black;
    text-align: center;
    list-style-type: none;
}
li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px grey;
    border-radius: 5px;
    background-color: #F5F5F5;
    width: 70%; 
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}
div {
    text-align: center;
}
.container {
    width: 60%; 
    margin: 0 auto;
    text-align: center; 
}
.contact-info {
    margin-top: 10px;
    font-size: 16px;
    background-color: #f4f4f4; 
    padding: 20px;
    display: inline-block;
    border-radius: 15px; 
}
.contact-info a {
    color: #0066cc;
    text-decoration: none;
} 
.contact-info a:hover {
    text-decoration: underline;
}