/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-image: url(img/elizabeth-lies-T9Gsevu_N8Y-unsplash.jpg);
    background-size: cover;
    position: relative;
}

/* Images */
img {
    display: block;
    margin: 0 auto;
}

/* Headings */
h1, h2, h3 {
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

/* Description below h1 */
#h1_desc {
    margin-bottom: 30px;
    font-style: italic;
    font-size: medium;
}

/* Unordered Lists */
ul {
    list-style-type: none;
    padding: 10px;
    color: black;
    text-align: center;
    list-style-type: none;
    columns: 4;
}

/* Four Columns List */
.four-columns li {
    break-inside: avoid;
    width: 350px;
}

/* Bold List Items */
.bold-li {
    font-weight: bold;
    break-inside: avoid;
    width: 350px;
}

/* Bold Child Elements */
.bold-li > * {
    font-weight: normal;
    break-inside: avoid;
}

/* List Items */
li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #F5F5F5;
    width: 70%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px grey;
}

/* Bold List within UL */
.bold-ul > li {
    font-weight: normal;
}

/* Anchor Links */
a {
    text-decoration: none;
    color: #007bff;
}

/* Hover Effect on Anchor Links */
a:hover {
    text-decoration: underline;
}

/* Div */
div {
    text-align: center;
}

/* Container */
.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

/* Contact Info */
.contact-info {
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 16px;
    background-color: #f4f4f4;
    padding: 20px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 2px grey;
}

/* Contact Info Links */
.contact-info a {
    color: #0066cc;
    text-decoration: none;
}

/* Hover Effect on Contact Info Links */
.contact-info a:hover {
    text-decoration: underline;
}

/* Span with Images */
span img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
